<h1>WELCOME</h1>

{{question-tile question=model destroyQuestion="destroyQuestion"}}

{{new-answer save2="save3" question=model}}
<button class="btn btn-danger" {{action 'delete' model}}>Delete</button>
